#set($statement1 = "
  INSERT INTO friendships
    (
      ""id"",
      ""initiatorUserId"",
      ""otherUserId"",
      ""status""
    )
  SELECT
    uuid_generate_v4(),
    id,
    '$context.arguments.otherUserId',
    'requested'
  FROM users
  WHERE id = get_user_id_by_cognito_id('$context.identity.cognitoIdentityId')
  RETURNING
    ""id"",
    ""initiatorUserId"",
    ""otherUserId"",
    ""initiatorUserLastSeen"",
    ""otherUserLastSeen"",
    ""status""
")

{
  "version": "2018-05-29",
  "statements": [
    $utils.toJson($statement1)
  ]
}
