#set($results = $utils.rds.toJsonObject($context.result))
#if($results[0].isEmpty())
  $utils.toJson(null)
#else
  $utils.qr($context.stash.put("senderFirstName", $results[0][0].firstName))

  $utils.toJson($context.prev.result)
#end
