#set($statement1 = "
  UPDATE friendships
  SET ""initiatorUserLastSeen"" = CURRENT_TIMESTAMP(3)
  WHERE
    ""id"" = '$context.arguments.friendshipId'
    AND ""initiatorUserId"" = get_user_id_by_cognito_id('$context.identity.cognitoIdentityId')
  RETURNING
    ""id"",
    ""initiatorUserId"",
    ""otherUserId"",
    ""initiatorUserLastSeen"",
    ""otherUserLastSeen"",
    ""status""
")

#set($statement2 = "
  UPDATE friendships
  SET ""otherUserLastSeen"" = CURRENT_TIMESTAMP(3)
  WHERE
    ""id"" = '$context.arguments.friendshipId'
    AND ""otherUserId"" = get_user_id_by_cognito_id('$context.identity.cognitoIdentityId')
  RETURNING
    ""id"",
    ""initiatorUserId"",
    ""otherUserId"",
    ""initiatorUserLastSeen"",
    ""otherUserLastSeen"",
    ""status""
")

{
  "version": "2018-05-29",
  "statements": [
    $utils.toJson($statement1),
    $utils.toJson($statement2)
  ]
}
