{
  "version": "2017-02-28",
  "operation": "Invoke",
  ## The stash should have been filled with the necessary arguments in the preceding pipeline functions
  "payload": $utils.toJson($context.stash)
}
